//-各個區塊的排列，左圖右文
mixin left-block(imgaddress, texttitle, textcontent)
    div(class="background-block")
        div(class="left-img")
            img(src="" + imgaddress + "", alt="")
        div(class="left-text")
            h2=texttitle
            p=textcontent


mixin right-block(imgaddress2, texttitle2, textcontent2)
    div(class="background-block")
        div(class="right-img")
            img(src="" + imgaddress2 + "", alt="")
        div(class="right-text")
            h2=texttitle2
            p=textcontent2








<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title 奇想動物園-活動展覽-毛毛大遊行
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
        link(rel="stylesheet", href="../style.css")
    body
        div(class="background")
            include ../logo2.pug
            include ../nav2.pug
            include ../door.pug
            nav(aria-label="breadcrumb")
                ol(class="breadcrumb")
                    li(class="breadcrumb-item")
                        a(href="../index.html") 首頁
                    li(class="breadcrumb-item")
                        a(href="event.html") 活動展覽
                    li(class="breadcrumb-item active" aria-current="page") 毛毛大遊行

            +left-block("../image/furevent2.jpg", "獸摩莎", "這是台灣的毛毛愛好者的慶典，在這裡，你可以不用當平常的你，換一身，你就是你心裡所想成為的毛毛~")
            +left-block("../image/furevent4.jpg", "", "在台灣與毛毛有關的慶典絕對不只一個喔~，像是台灣同人動漫展(CWT)、開拓動漫祭(FF)也都是台灣毛毛集體聚會的場合呢~")
            +left-block("../image/furryevent.jpg", "", "跟台灣比起來，其實國外的毛聚更具震撼力，光是那壓倒性的數量就夠嚇人了，如果毛毛真的想交流，有足夠的資金的話，真心推薦可以去看看國外的毛毛聚喔~")









            
            
        include ../footer2.pug



        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
        script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
        script(src="../js/java.js")

