//-各個區塊的排列，左圖右文
mixin left-block(imgaddress, texttitle, textcontent)
    div(class="background-block")
        div(class="left-img")
            img(src="" + imgaddress + "", alt="")
        div(class="left-text")
            h2=texttitle
            p=textcontent


mixin right-block(imgaddress2, texttitle2, textcontent2)
    div(class="background-block")
        div(class="right-img")
            img(src="" + imgaddress2 + "", alt="")
        div(class="right-text")
            h2=texttitle2
            p=textcontent2








<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title 奇想動物園-主題餐廳-哈士奇餐廳
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
        link(rel="stylesheet", href="../style.css")
    body
        div(class="background")
            include ../logo2.pug
            include ../nav2.pug
            include ../door.pug
            nav(aria-label="breadcrumb")
                ol(class="breadcrumb")
                    li(class="breadcrumb-item")
                        a(href="../index.html") 首頁
                    li(class="breadcrumb-item")
                        a(href="coffee.html") 主題餐廳
                    li(class="breadcrumb-item active" aria-current="page") 哈士奇餐廳

            +left-block("../image/husky1.png", "", "這裡是哈士奇餐廳，有著許多的哈士奇，有大的已經成年的，也有小隻剛斷奶的，因為小哈哈的數量增長過快，如果你運氣好，條件也不錯，說不定可以領一隻回家喔~")
            +left-block("../image/husky4.png", "", "小哈哈的兄弟姐妹們非常多~，各位犬派的還在等甚麼? 當然要開始撸毛毛啦~~~")
            +left-block("../image/husky3.png", "", "雖然就可愛而言，長大的哈士奇不如小隻的，可是長大的哈士奇也很帥氣喔~ 不過說真的，各位懂行的都知道，如果哈士奇不會被稱為二哈，那才真正的帥氣阿~!!!")










            
            
        include ../footer2.pug



        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
        script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
        script(src="../js/java.js")

