//-各個區塊的排列，左圖右文
mixin left-block(imgaddress, texttitle, textcontent)
    div(class="background-block")
        div(class="left-img")
            img(src="" + imgaddress + "", alt="")
        div(class="left-text")
            h2=texttitle
            p=textcontent


mixin right-block(imgaddress2, texttitle2, textcontent2)
    div(class="background-block")
        div(class="right-img")
            img(src="" + imgaddress2 + "", alt="")
        div(class="right-text")
            h2=texttitle2
            p=textcontent2








<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title 奇想動物園-觀賞園區-森林
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
        link(rel="stylesheet", href="../style.css")
    body
        div(class="background")
            include ../logo2.pug
            include ../nav2.pug
            include ../door.pug
            nav(aria-label="breadcrumb")
                ol(class="breadcrumb")
                    li(class="breadcrumb-item")
                        a(href="../index.html") 首頁
                    li(class="breadcrumb-item")
                        a(href="animal-park.html") 觀賞園區
                    li(class="breadcrumb-item active" aria-current="page") 森林
            +left-block("../image/tiger3.png", "老虎", "通常都說獅子是萬獸之王，老虎是百獸之王，但其實老虎也不遜色喔，而且老虎的體型比獅子要大，只是因為棲息地的不同，沒有人知道獅子跟老虎到底哪個更應該是萬獸之王。")
            +left-block("../image/parrot2.png", "鸚鵡", "一般人聽到應該大概直覺反應就是會說話，但是其實鸚鵡說話也是需要訓練的，但一般鸚鵡都只是進行複述，並不懂語言本身的涵義，而且在現實學術上，曾經有那麼一隻鸚鵡被認定為有8歲小孩的智力，甚至可以跟人進行溝通。")









            
        include ../leading2.pug
        include ../footer2.pug



        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
        script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
        script(src="../js/java.js")

