//-各個區塊的排列，左圖右文
mixin left-block(imgaddress, texttitle, textcontent)
    div(class="background-block")
        div(class="left-img")
            img(src="" + imgaddress + "", alt="")
        div(class="left-text")
            h2=texttitle
            p=textcontent


mixin right-block(imgaddress2, texttitle2, textcontent2)
    div(class="background-block")
        div(class="right-img")
            img(src="" + imgaddress2 + "", alt="")
        div(class="right-text")
            h2=texttitle2
            p=textcontent2








<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title 奇想動物園-觀賞園區-極地
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
        link(rel="stylesheet", href="../style.css")
    body
        div(class="background")
            include ../logo2.pug
            include ../nav2.pug
            include ../door.pug
            nav(aria-label="breadcrumb")
                ol(class="breadcrumb")
                    li(class="breadcrumb-item")
                        a(href="../index.html") 首頁
                    li(class="breadcrumb-item")
                        a(href="animal-park.html") 觀賞園區
                    li(class="breadcrumb-item active" aria-current="page") 極地

            +left-block("../image/polarbear3.png", "北極熊", "北極熊是地球上最大的陸上哺乳類動物之一，但是由於其棲息地的破壞、全球暖化的原因，牠們的數量越來越少，如果情形繼續嚴重的話，可能就沒辦法再見到他們的身影了。")
            +left-block("../image/penguins.png", "企鵝", "不少人以為北極熊跟企鵝是在同一個地方，但其實企鵝是居住在南極大陸的的動物，與北極是地球的兩端遙遙相望。")
            +left-block("../image/seal.png", "海豹", "大多數小時候的海豹是通體白色的，長大後才毛色才會逐漸轉深，但某件讓人傷心的事實是，海豹是北極熊的食物之一。")








            
            
        include ../footer2.pug



        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
        script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
        script(src="../js/java.js")

