//-各個區塊的排列，左圖右文
mixin left-block(imgaddress, texttitle, textcontent)
    div(class="background-block")
        div(class="left-img")
            img(src="" + imgaddress + "", alt="")
        div(class="left-text")
            h2=texttitle
            p=textcontent


mixin right-block(imgaddress2, texttitle2, textcontent2)
    div(class="background-block")
        div(class="right-img")
            img(src="" + imgaddress2 + "", alt="")
        div(class="right-text")
            h2=texttitle2
            p=textcontent2








<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title 奇想動物園-觀賞園區-草原
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
        link(rel="stylesheet", href="../style.css")
    body
        div(class="background")
            include ../logo2.pug
            include ../nav2.pug
            include ../door.pug
            nav(aria-label="breadcrumb")
                ol(class="breadcrumb")
                    li(class="breadcrumb-item")
                        a(href="../index.html") 首頁
                    li(class="breadcrumb-item")
                        a(href="animal-park.html") 觀賞園區
                    li(class="breadcrumb-item active" aria-current="page") 草原

            +left-block("../image/lion.png", "獅子", "萬獸之王的獅子，其習性並不被多數人所知，一般情況下，一個獅群裡面只有一隻成年的雄獅，有兩隻以上是極為少數的，而獅群內的小公獅，在滿兩歲的時候會被獅群逐出，在外流浪，直至形成自己的獅群。")
            +left-block("../image/cheetah2.png", "獵豹", "獵豹是陸地上跑得最快的生物，最高時速可達一百三十多公里，但是這種速度下，獵豹如果跑超過十分鐘，身體會逐漸過熱，甚至會將自己的身體負荷到崩潰，另外，在大草原上，其實獵豹是屬於比較弱小的獵食者，如果遇上三隻以上的鬣狗，他們只能逃走，也因此他們通常依附於獅群領地附近。")
            +left-block("../image/kangaroo.jpg", "袋鼠", "袋鼠生活在澳洲大草原上，他們具有育兒袋，一胎大約三至四隻，但是因為大多都為早產兒，能存活下來的大概只剩兩隻，他們的後腿與尾巴極其發達，是袋鼠主要進攻與防衛的武器。")









            
            
        include ../footer2.pug



        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
        script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
        script(src="../js/java.js")

